apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
  namespace: mental-health-platform
  labels:
    app: api-gateway
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: api-gateway

